* {
    margin: 0;
    padding: 0;
	font-family: Avenir, sans-serif;
}

.booking{
	width: 100%;
	min-height: 100vh;
	padding: 10px 10%;
    display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid {
    display: inline-flex;
    grid-template-columns: 25% 25% 25%;
    margin-inline: 4px 7px;
}

.form {
    width: 325px;
    border-radius: 10px;
    padding: 30px 20px 59px 20px;
    border: 0;
    border-spacing: 10px 50px;
    gap: 10px 20px;
}

.form1 {
    /*background: linear-gradient(to bottom right, #FC56F6, #A356FD);*/
    /*box-shadow: 3px 15px 30px rgba(171, 86, 252, 0.75);*/
    background-image: linear-gradient(95deg, #808080, #000000);
    box-shadow: 3px 15px 30px rgba(95deg, #808080, #000000);
}
    .form1 h3{
        color: gold;
    }

.form2 {
    /*background: linear-gradient(to bottom right, #56D0FD, #56FD7D);*/
    /*box-shadow: 3px 15px 30px rgba(86, 247, 142, 0.75);*/
    background-image: linear-gradient(95deg, #808080, #000000);
    box-shadow: 3px 15px 30px rgba(95deg, #808080, #000000);
}
    .form2 h3 {
        color: #E5E4E2;
    }

.form3 {
    /*background: linear-gradient(to bottom right, #FDBD56, #FD56B6);*/
    /*box-shadow: 3px 15px 30px rgba(253, 99, 169, 0.75);*/
    background-image: linear-gradient(95deg, #808080, #000000);
    box-shadow: 3px 15px 30px rgba(95deg, #808080, #000000);
}
    .form3 h3 {
        color: #c0c0c0;
    }

.form h3 {
    /*color: rgba(255, 255, 255, 0.3);*/
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0px;
}

/*.form h4 {
    color: white;
    font-size: 30px;
    margin-top: 53px;
}*/

/*.form h2 {
    color: rgba(255, 255, 255, 0.15);
    font-size: 118px;
    font-weight: 900;
    position: absolute;
    margin-left: -6px;
    pointer-events: none;
    display: none;
}*/

.form hr {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.15);
    margin-top: 53px;
}

.form p:first-of-type {
    margin-top: 40px;
}

.form p {
    /*color: white;*/
    font-size: 18px;
}

.form p:nth-of-type(2) {
    margin-top: 10px;
    margin-bottom: 40px;
}

.form a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 50px 11px 50px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 50px;
    /*margin-top: -120px;*/
    border-radius: 6px;
    transition: background-color 0.5s;
}

    .card a:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

@media only screen and (max-width: 600px) {
    /* Adjustments for small screens */
	.booking{
		margin-top: 140%;
	}
	
    .grid {
        display: block;
		margin: 30px 10px;
    }

    .form {
        width: 100%;
        margin: 0;
    }

    /*.space {
        display: none;
    }*/

    /*.form-container {
        padding: 10px;
    }*/

        .form-container .form {
            margin-bottom: 20px;
        }
}




/*@media only screen and (max-width: 430px) {
    .grid {
        grid-template-columns: 100%;
        grid-row-gap: 50px;
    }
}*/